body {
    font-family: 'Courier New', Courier, monospace;
}

#pastel {
    display: block;
    margin: auto;
    padding: 5px 5px; 
    width: 80%;
    height: auto;
    z-index: 1;
    position: relative;
}

#navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.863);
    width: 100%;
    font-weight: 400;
    font-size: 50%;
    z-index: 10;
}

#navbar a {
    display: block;
    color: #7abbf8;
    text-align: center;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10%;
}

#navbar a:hover {
    color: white;
}

#home:hover {
    background-color: #CFD5ED;
    box-shadow: 4px 4px 28px 31px#cfd5edd0;
}

#blog:hover {
    background-color: #F5C9E4;
    box-shadow: 4px 4px 28px 31px #f5c9e4af;
}

#skills:hover {
    background-color: #90D2E4;
    box-shadow: 4px 4px 28px 31px#90d2e4ad;
}

#projects:hover {
    background-color: #F5C9E4;
    box-shadow: 4px 4px 28px 31px#f5c9e4af;
}

#media:hover {
    background-color: #CFD5ED;
    box-shadow: 4px 4px 28px 31px #cfd5edbb;
}

.introblock {
    display: block;
    text-align: center;
    margin: auto;
    padding: 5px 5px; 
    width: 80%;
    height: auto;
    z-index: 2;
    background-color: white;
}


#construction {
    margin: 50px; 
    width: 50%;
    height: 50%;
}

