* {
    margin: 0;
    padding: 1em 3em 1 em 3em;
    font-family: 'Nanum Gothic', sans-serif;
}
/* background css */

body {
    background-image: url(images/pawel-czerwinski-Qiy4hr18aGs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 1%;
}

.text-box { 
    border-radius: 5%;
    width: 70%;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 0px 0px 30px 33px rgba(236, 157, 236, 0.26);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 40px;
}

.text-box p {
    margin: 10px 0px 40px;
    font-size: 25px;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 1em;
    border-radius: 10%;
    font-size: 15px;
    color: black;
}
/* navivgation bar css */
.nav div{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 1em;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.26);
    font-size: 20px;
}


.nav-links a {
    display: inline-block;
    text-align: center;
    width: 20%;
    text-decoration: none;
    color: #0a85f8;
}

.nav-links a:hover {
    color: white;
    transition: all 300ms ease-in-out;
    font-weight: 700;
}

#home:hover {
    background-color: #cfd5edd0;
    box-shadow: 4px 4px 28px 31px#cfd5edd0;
}

#blog:hover {
    background-color: #f5c9e4bb;
    box-shadow: 4px 4px 28px 31px #f5c9e4bb;
}

#skills:hover {
    background-color: #90d2e4ad;
    box-shadow: 4px 4px 28px 31px#90d2e4ad;
}

#projects:hover {
    background-color: #f5c9e4be;
    box-shadow: 4px 4px 28px 31px#f5c9e4be;
}

#media:hover {
    background-color: #cfd5edc5;
    box-shadow: 4px 4px 28px 31px #cfd5ede0;
}



.button:hover{
    background-color: rgba(252, 249, 246, 0.555);
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*!emojicursor.app*/
    transition: 0.25s;
    color: pink;
    box-shadow: 0px 0px 50px 22px rgba(252, 249, 246, 0.555);;
}

.skills {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.726);
    box-shadow:0px 0px 30px 33px rgba(255, 255, 255, 0.726);
    color:rgb(0, 0, 0)
}

h2 {
    font-size: 45px;
    font-weight: 600p;
    padding: 0.5em
}
ul {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    list-style-type: none;
}

.row  {
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
}

.skills-col {
    flex-basis: 40%;
    border-radius: 5px;
    margin-bottom: 75px;
    box-sizing: border-box;
}

.skills-title {
    text-align: right;
    margin-bottom: 75px;

}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

/* project
.project{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 75px;
    background-image: url(images/Under_Construction.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
} */

.project {
    border-radius: 5%;
    width: 100%;
    height: 50%;
    padding: 500px;
    background-color: rgba(255, 255, 255, 0.466);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%);
    text-align: center;
    background-image: url(images/Under_Construction.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.project div {
    background-color: rgba(255, 255, 255, 0.466);

}   


.media {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 200px;
}


.media-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position:relative;
    overflow: hidden;
}

.media-col img{
    width: 100%;
}

.layer  {
    background: transparent ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    color: grey;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(255, 255, 255, 0.692);
    color: black;
    font-weight: 700;
}

.row {
    padding-top: 75px
}





@media (max-width: 800px){
    .text-box h1 {
        font-size: 15px;
    }
    .text-box p {
        font-size: 10px;
    }
    .text-box {
        border: 20%;
    }
    .button {
        font-size: 10px;
    }
    .nav div {
        font-size: 15px;
    }
    .row {
        flex-direction: column;
    }
    .skills-title {
        text-align: center;
        font-size: 15px;
    }
    .skills-title h2{
        text-align: center;
        font-size: 25px;
    }
    .project-col h2{
        text-align: center;
        font-size: 25px;
    }
}