* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(images/alyani-yang-WajET_vzPmI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 50;
    width: 100%;
}


.nav-links {
    flex: 1;
    text-align: left;
    transition: 1s;
    background-color: #022e0200;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding:  15px;
    position: relative;
}
.nav-links ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
    padding:  1.5em
}

.nav-links ul li::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: #057405;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
  box-shadow: 0px 19px 17px 9px #057405;
}

/* scrolling js */

 .scrolling-active .nav-links{
    width: 100%;
    color: #ffffff;
    background-color: #013101;
}

.scrolling-active .nav-links ul li:hover::after {
    width: 100%;
    box-shadow: 0px 19px 17px 9px #013101;
    background: #013101;
}

/* header textbox */
div.text-box {
    color: #fff;
    position: absolute;
    margin-top: 10em;
    margin-left: 2em;
    padding: 2% 6%;
    background-color: #03660341;
    box-shadow: 5px 5px 31px 16px #03660341 ;
    
}
.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.text-box a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.text-box a:hover {
    background-color: rgba(252, 249, 246, 0.384);
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*!emojicursor.app*/
    transition: 0.25s;
    color: rgb(255, 149, 167);
    box-shadow: 5px 5px 29px 25px rgba(252, 249, 246, 0.384);
}

.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 600px;
    color: #013101;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600px;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/* skills */
.skills {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 200px;
}

.skills ul li{
    list-style: none;
}

/* this one creates the columns */
.column{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.skill-col {
    flex-basis: 31%;
    background: #faee8165;
    box-shadow: 0px 15px 50px 7px #faee8165 ; 
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}


/* ----projects---- */

.project {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 200px;
    z-index: 20;
}

.project-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    z-index: 20;
}

.project-col img{
    width: 100%;
    display: block;
    z-index: 20;
}

.project-col p{
    padding: 0;
    text-align: center;
    z-index: 20;

}

.project-col h3{
    margin-top: 16px;
    margin-bottom: 25px;

}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}


.layer h3 {
    width: 100%;
    font-weight: 500;
    color: black;
    font-weight: 700;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}

.layer:hover{
    background: rgba(6, 49, 0, 0.514);
}

.layer:hover h3 {
    color: white;
    bottom: 49%;
    opacity: 1;
}

span {
    font-weight: 700;
}

/* media */
/* how to add grid */
.media {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.media-col {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.media-col img{
    width: 100%;
    display: block;
}

 /* USING JS TAKE TO TOP BUTTON */
#topbutton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #013101; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
  }
  
  #topbutton:hover {
    background-color: #0394037c; 
    box-shadow: 0px 15px 50px 7px #013101 ; 

  }
@media(max-width: 700px){
    .nav-links ul li a {
        font-size: 12px;
    }
    .text-box h1 {
        font-size: 32px;
    }

    .text-box a {
        font-size: 16px;
    }
    
    .text-box p {
        margin: 10px 0 40px;
        font-size: 16px;
    }

    .nav-links ul li  {
        font-size: 8px;
        padding: 1px; 
    }
    .column {
        flex-direction: column;
    }
    .about {
        padding: 100px;
    }

    .skills {
        padding: 100px;
    }

    .project {
        padding: 100px;
    }

    .media {
        padding: 100px;
    }
}