html {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: 0;     /* makes sure the box limits does not exceed set  */
}

.bold {
    font-weight: 700;
}

#pastel {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 5px 5px; 
    width: 90%;
    max-width: 1000px;
    min-width: 500px;
    max-height: 1000px;
    min-height: 500px;
    height: auto;
    z-index: 1;
    position: relative;
}

#watchthisspace:hover {
    font-weight: 800;
    color: pink;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1000px;
    margin: auto;
    font-weight: 400;
    font-size: 40%;
    z-index: 10;
    
}

.navbar a {
    display: block;
    color: #7abbf8;
    text-align: center;
    padding: 5px 15px 5px 15px;
    width: 20%;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover {
    color: white;
    transition: all 300ms ease-in-out;
    font-weight: 700;
}

#home:hover {
    background-color: #cfd5edd0;
    box-shadow: 4px 4px 28px 31px#cfd5edd0;
}

#blog:hover {
    background-color: #f5c9e4bb;
    box-shadow: 4px 4px 28px 31px #f5c9e4bb;
}

#skills:hover {
    background-color: #90d2e4ad;
    box-shadow: 4px 4px 28px 31px#90d2e4ad;
}

#projects:hover {
    background-color: #f5c9e4be;
    box-shadow: 4px 4px 28px 31px#f5c9e4be;
}

#media:hover {
    background-color: #cfd5edc5;
    box-shadow: 4px 4px 28px 31px #cfd5edc5;
}



.introblock {
    position: absolute;
    top: 50%;
    transform: translate(50%,-70%);
    margin: auto;
    width:  50%;
    padding: 10px ;
    display: block;
    text-align: center;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.747);
    -webkit-box-shadow: 5px 5px 15px 5px #cfd5edd0, -9px 5px 15px 5px #f5c9e4bb, -7px -5px 15px 5px #cfd5edc5, 12px -5px 15px 5px #90d2e4ad, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #90d2e4ad, -10px -7px 27px 1px #cfd5edc5, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 15px 5px #cfd5edc5, -9px 5px 15px 5px #f5c9e4bb, -7px -5px 15px 5px #cfd5edc5, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #cfd5edc5, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 50px 50px 11px 50px rgba(0,0,0,0);
  }


#construction {
    margin: 50px; 
    width: 50%;
    height: 50%;
}

/* .skills {
    columns: 2 150px;
    column-gap: 50px;
    box-sizing: border-box;
    column-rule-style: dotted;
    column-rule-color: #90d2e4ee;
    background-color: #90d2e448;
    display: block;
    justify-content: space-around;
    width: 90%;
    max-width: 1000px;
    max-height: auto;
    margin: auto;
    justify-content: center;
    align-items: top;
    padding: 40px 50px 40px 50px; 
    position: relative;  
}


.skills_title {
    display: flex;
    flex-shrink: 0;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 30px;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30%;
    column-span: all;

}

.skills_label {
    display: flex;
    font-weight: 400;
    font-size: 40px;
} */
/* 
.skill_container {
    box-sizing: border-box;
    column-rule-style: dotted;
    column-rule-color: #90d2e4ee;
    background-color: #90d2e448;
    justify-content: space-around;
    width: 90%;
    max-width: 1000px;
    min-height:  400px;
    margin: auto;
    align-items: center;
    padding: 40px 50px 40px 50px; 
    position: relative;  
}

.skill_container div {
    padding: 1%;
    box-sizing: border-box;
    min-height: 150px;
}

.left-column, .right-column {
    width: 25%;
    float: left;
}

.center-column {
    width: 50%;
    float: left;
} */

.skill_container {
    box-sizing: border-box;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 50px 40px 50px; 
    background-color: rgba(176, 224, 230, 0.514);
    height: 350px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    width: 33%;
    height: 200px;   
}

.column>ul {
    list-style-type: none;
    justify-content: center;
    
}

.column#col1 {
    text-align: center;
    justify-content: space-around;
    letter-spacing: 5px;
    list-style-type: none;
}

.column#col2 {
    text-align: justify;
    align-items: center;
    letter-spacing: 3px;
    list-style-type: none;
}